<!-- app/views/shared/_navbar.html.erb -->
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About', about_path %></li>
  <li><%= link_to 'Lotto', math_path %></li>
</ul>
<% line_number.times do %>
  <hr>
<% end %>
