<!-- app/views/layouts/admin.html.erb -->
<html>
  <head>
    <title>Backstage</title>
    <%= stylesheet_link_tag       'admin' %>
  </head>
  <body>
    <h1>Backstage </h1><hr>
    <%= yield %>
  </body>
</html>
